/*Styles for the button component*/
button {
    margin-top: 2%;
    background: red;
    color: black;
    border: none;
    padding: 0;
    outline: inherit;
    /*margin-top: 100px;*/
    font-family: 'Oswald', sans-serif;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #000;
    
}

#body-top {
    margin: 0;
    position: relative;
    align-content: center;
    display: flex;
    justify-content: center;
    /* -ms-transform: translateY(-100%);
    transform: translateY(-100%); */
}

button:hover {
    cursor: pointer;
    /*color: antiquewhite;*/
    text-decoration: underline;
    /*transition: 0.1s width linear;*/
    transition: color 250ms ease 50ms;
    filter: brightness(150%);
    box-shadow: 15px 15px 15px #000;
}


button:active {
    box-shadow: inset 4px 4px 15px #000;
}

#start-button {
    width: 22vw;
}