/* This file deals with styling single page tic-tac-toe game*/
/*
 - Add logo to nav bar
 



 */
html {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-image: url("images/sky.jpg");
    background-size: cover;
    font-family: "Bodoni MT", serif;
    text-align: center;
    width: 1000px;
    height: 1500px;
    flex-wrap: wrap;
    color: cornsilk;
}
nav {
    background-color: #1a1818;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    height: 75px;
    width: 100%;
    color: cornsilk;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    box-shadow: 10px 5px 5px #1a1818;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
} li {
    margin-top: 0, 10px;
}
nav ul li.nav-items {
    margin-right: 300px;
    margin-left: 400px;
    margin-top: 15px;
}
li.nav-items img#falcon-two{
    width: 90px;
    height: 90px;
}
.nav-items:hover {
   color:aqua;
}

h1{
    font-size: 80px;
}
h2 {
    font-size: 60px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 30px;
}
header {
    margin-top: 20%;
    display:inline-block;
    justify-content: center;
}

#body-top{
    margin-bottom: 3%;
}

button {
    margin-top: 2%;
    background: red;
    color: black;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-top: 100px;
    font-family: 'Oswald', sans-serif;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #000;
}

#announcement {
    background:none;
    color:#1a1818;
    border: none;
    padding: 0;
}

button:hover {
    cursor: pointer;
    /*color: antiquewhite;*/
    text-decoration: underline;
    transition: 0.1s width linear;
    transition: color 250ms ease 50ms;
    filter: brightness(150%);
    box-shadow: 15px 15px 15px #000;
}

button:active {
    box-shadow: inset 4px 4px 15px #000;
}
#board-img {
    border: darkred 15px solid;
    border-radius: 50px;
    -webkit-user-drag: none;
    background-image: url("images/DT Logo 5.png");
}
#falcon {
    width: 40%;
    position: absolute;
    opacity: 25%;
    z-index: 0;
    margin-top: 490px;
    margin-left: -350px;
    -webkit-user-drag: none;


}
#falcon-two {
    width: 7.5%;
    display: flex;

}
/*column styles*/

/*table styles*/
.board-container {
    width: 600px;
    height: 600px;
    align-content: center;
    z-index: 1;
    display: flex;
    justify-items: center;
    position: absolute;
    margin-left: 175px;
    margin-top: -660px;
}
.board-container:hover {
    cursor: pointer;
}
.board {

}
.red-x {
    width: 75%;
    z-index: 1;
}
.red-o {

}
.row1, .row2, .row3 {
    display: inline-flex;
    width: 25%;
    padding: 5px 10px;

}
#x-one, #x-two, #x-three, #x-four, #x-five, #x-five, #x-six, #x-seven, #x-eight, #x-nine {
    opacity: 0;
}
#one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
    z-index: 5;
    width: 200px;
    height: 200px;
    /*border: crimson 5px solid;*/
    opacity: 0.001;
    -webkit-user-drag: none;

}