/* This file deals with styling single page tic-tac-toe game*/
/*
 - Add logo to nav bar
 



 */
html {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-image: url("images/sky.png");
    background-size: cover;
    font-family: "Bodoni MT", serif;
    text-align: center;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    color: cornsilk;
    margin: 10vw 0 0 0;
}
nav {
    background-color: #1a1818;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    height: 7vw;
    width: 100%;
    color: cornsilk;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    box-shadow: 10px 5px 5px #1a1818;
}
.nav-items {

}

ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
li {
    /*margin: 10px;*/
}
.nav-items {

}
nav ul li.nav-items {

}

.nav-items:hover {
   color:aqua;
}

#title {
    white-space: nowrap;
}

h1{
    font-size: 6vw;
}
h2 {
    font-size: 4.8vw;
}
h3 {
    font-size: 3.35vw;
}
h4 {
    font-size: 3vw;
}
header {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#body-top{
    margin: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vw;
}
#tic-tac-toe-title {
    margin: 0;
    padding: 0;
    letter-spacing: 0.5vw;
}
h3 button {
    margin: 0;
    padding: 0;
    letter-spacing: 0.5vw;
    width: 30vw;
    height: 18vw;
}
button {
    text-align: center;
    padding: 10vw 20vw;
    background: red;
    color: black;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    /*margin-top: 100px;*/
    font-family: 'Oswald', sans-serif;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #000;
    width: 20vw;
    height: 20vw;
    font-size: 5vw;
}

#announcement {
    background:none;
    color:#1a1818;
    border: none;
    padding: 0;
    margin: 0 0 5vw 0;
}

button:hover {
    cursor: pointer;
    /*color: antiquewhite;*/
    text-decoration: underline;
    /*transition: 0.1s width linear;*/
    transition: color 250ms ease 50ms;
    filter: brightness(150%);
    box-shadow: 15px 15px 15px #000;
}
button:active {
    box-shadow: inset 4px 4px 15px #000;
}
#board-img {
    border: darkred 15px solid;
    border-radius: 50px;
    -webkit-user-drag: none;
    width: 50vw;
    height: 50vw;
}
#falcon {
    width: 40%;

    opacity: 25%;
    z-index: 0;

    -webkit-user-drag: none;


}
#start-button {
    width: 22vw;
}

#falcon-two {
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 11%;
    -webkit-user-drag: none;
    margin-left: 0.9vw;
}
/*column styles*/

/*table styles*/
.board-container {
    width: 55vw;
    height: 55vw;
    align-content: center;
    z-index: 1;
    display: flex;
    justify-items: center;
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-user-drag: none;




}
.board-container:hover {
    cursor: pointer;
}
.board {

}
.red-x {
    width: 75%;
    z-index: 1;
}
.red-o {

}
.row1, .row2, .row3 {
    display: inline-flex;
    width: 23%;
    height: 27%;
    padding: 0.5vw;
    margin: 0;
    justify-content: center;
    align-items: center;

}
#x-one, #x-two, #x-three, #x-four, #x-five, #x-five, #x-six, #x-seven, #x-eight, #x-nine {
    opacity: 0;
}
#one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
    z-index: 5;
    width: 15vw;
    height: 15vw;
    margin: 0;
    padding: 0;
    /*border: crimson 5px solid;*/
    opacity: 0.001;
    -webkit-user-drag: none;

}